# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.exe
*.pdb

# User-specific files
*.user
*.rsuser
*.suo
*.cache
*.log
*.vs/

# Rider / VSCode
.idea/
.vscode/
*.sln.iml

# Others
publish/

